.tm-static-benefit__icon {
    width: 56px;
    height: 56px;
}

.tm-static-benefit__divider {
    width: 30px;
    height: 2px;
}

.tm-static-benefit__cta-icon {
    width: 48px;
    height: 48px;
}

.tm-static-benefit__cta-button,
.tm-static-benefit__cta-button:hover,
.tm-static-benefit__cta-button:focus,
.tm-static-benefit__cta-button:active {
    border: 0;
    background-color: var(--tm-color-blue);
}
