.tm-static-provider-space__nav-active,
.tm-static-provider-space__nav-active:hover,
.tm-static-provider-space__nav-active:focus,
.tm-static-provider-space__nav-active:active {
    border: 0;
    background-color: var(--tm-color-blue-soft);
    color: var(--tm-color-blue);
}

.tm-static-provider-space__notification-badge {
    width: 18px;
    height: 18px;
    font-size: 10px;
}

.tm-static-provider-space__progress {
    width: 60px;
    height: 60px;
}

.tm-static-provider-space__avatar {
    width: 36px;
    height: 36px;
    background-position: center;
    background-size: cover;
}

.tm-static-provider-space__avatar--sophie {
    background-image: url("https://images.unsplash.com/photo-1494790108377-be9c29b29330?auto=format&fit=crop&q=80&w=100");
}

.tm-static-provider-space__avatar--julien {
    background-image: url("https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?auto=format&fit=crop&q=80&w=100");
}

.tm-static-provider-space__avatar--claire {
    background-image: url("https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?auto=format&fit=crop&q=80&w=100");
}

.tm-static-provider-space__message-preview {
    max-width: 160px;
}

.tm-static-provider-space__unread-dot {
    width: 6px;
    height: 6px;
}
