.tm-static-provider-registration__benefit-icon {
    width: 48px;
    height: 48px;
}

.tm-static-provider-registration__testimonial-avatar {
    width: 40px;
    height: 40px;
    background-image: url("https://images.unsplash.com/photo-1534528741775-53994a69daeb?auto=format&fit=crop&q=80&w=100");
    background-position: center;
    background-size: cover;
}

.tm-static-provider-registration__steps {
    max-width: 600px;
}

.tm-static-provider-registration__progress {
    z-index: 1;
    height: 2px;
}

.tm-static-provider-registration__progress-value {
    width: 0;
}

.tm-static-provider-registration__steps-list {
    z-index: 2;
}

.tm-static-provider-registration__step-number {
    width: 32px;
    height: 32px;
    font-size: 13px;
}

.tm-static-provider-registration__password-icon {
    cursor: not-allowed;
}

.tm-static-provider-registration__submit,
.tm-static-provider-registration__submit:hover,
.tm-static-provider-registration__submit:focus,
.tm-static-provider-registration__submit:active,
.tm-static-provider-registration__submit:disabled {
    border: 0;
    background-color: var(--tm-color-blue);
}
