.tm-static-resource__icon {
    width: 52px;
    height: 52px;
}

.tm-static-resource__badge {
    font-size: 9px;
    text-transform: uppercase;
}

.tm-static-resource__icon--tools,
.tm-static-resource__badge--tools {
    background-color: #f3e8ff;
    color: #a855f7;
}

.tm-static-resource__icon--advice,
.tm-static-resource__badge--advice {
    background-color: #f5f3ff;
    color: #7c3aed;
}

.tm-static-resource__help-icon {
    width: 48px;
    height: 48px;
}
