#invoice-draft-form #invoice-external-panel {
    display: none;
}

.tm-invoice-edit__instruction-highlight {
    padding: 0 4px;
    border-radius: 4px;
    background: #fff3a3;
    font-weight: 700;
    text-transform: uppercase;
}
